<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>No.</th>    
                <th>Body</th>
                <th>Email</th>
                <th>Name</th>
                <th>Post Id</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="cmt, iterator : ${comments}">
                <tr>
                    <td th:text="${iterator.index+1}"></td>
                    <td th:text="${cmt.body}"></td>
                    <td th:text="${cmt.email}"></td>
                    <td th:text="${cmt.name}"></td>
                    <td th:text="${cmt.postId}"></td>
                </tr>
            </th:block>
        </tbody>
    <table>
</body>
</html>